.register-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #e8eced, #d5e8eb, #a9ddea);
}
.register-form {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  width: 30%;
}

.register-form h2 {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  color: #509eb6;
}

.register-form a {
  color: #249fd0 !important;
}

.register-form a:hover {
  color: rgb(11, 62, 215) !important;
}

.register-form button {
  background-color: #72b8ed;
  color: white;
}

.register-form input:focus {
  border: 1px solid #7aa9cd !important;
  color: #2a1909;
}
.register-form button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
